/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Biko_Regular';
    margin-bottom: auto;
}

body {
    font-family:"Biko_Regular";
    background-color: #f8f8f8;
    color: #333;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* style.css */
.image-container {
    display: flex;
    flex-direction: row; /* Aligns items vertically */
    justify-content: space-evenly; /* Adjust as needed for spacing */
    align-items: center; /* Aligns items horizontally in the center */
}

.image-container img {
    max-width: 10px;
    height: auto;
}

header {
    background-color: #3498db;
    
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
    
}

header img {
    max-width: 100%;
    height: auto;
    z-index: 1000;
}
    
hr {
    border: 1px solid #3498db; /* Set the color of the separating line */
    margin: 20px 0; /* Adjust the margin to control the space above and below the line */
}

nav {
    background-color: #3498db;
    position: relative;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
   
}

nav li {
    margin: 0 10px; 
}

section {
    padding: 60px 0;
}

h2 {
    color: #f4f0f0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 0 10px;
}

.project {
    margin-bottom: 40px;
    cursor: pointer;
}

.project:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.project img {
    max-width: 100%;
    height: auto;
    
}

.project-info {
    margin-top: 10px;
}

/* Add this to your CSS file */
#resume {
    margin-top: 20px;
}

.resume-box {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.resume-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color: #2980b9;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: small;
}

@font-face {
    font-family: 'Biko';
    src: url('/img/Biko_Regular.otf') format('woff2'),
    /* Add additional font formats if necessary */
}


/* Modal styles */
.modal {
    display: none;
    position: relative;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: relative;
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
}

.close {
    position: static;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    header {
        padding: 30px 0;
    }

    nav {
        position: static;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        padding: 8px;
        margin-bottom: 5px;
    }

    .modal-content {
        margin: 30% auto;
    }
}
